# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [20]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

print(orders["Country"].unique())

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Finland' 'Austria' 'Greece' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Israel' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
# your code here

print(orders.columns)

grouped_orders = orders.groupby("CustomerID", as_index = False).agg( "sum")

vip_percentile = grouped_orders["amount_spent"].quantile(0.95)
print(vip_percentile)

vip_customer_ids = grouped_orders[grouped_orders["amount_spent"] > float(vip_percentile)]

vip_customer_ids.head()

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')
5840.181999999982

C:\Users\tglhi\AppData\Local\Temp\ipykernel_8580\1024278506.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_orders = orders.groupby("CustomerID", as_index = False).agg( "sum")

,CustomerID,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
0,12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
10,12357,58262250,75290940,263441,1441,917,2096,2708,438.67,6207.67
12,12359,59103884,138190725,498728,1508,783,3136,1622,2137.86,6372.58
50,12409,30112571,61157926,219199,789,499,1222,5551,389.62,11072.67
55,12415,164201777,398543981,1439876,4254,2169,8061,77670,2097.08,124914.53

In [10]:
vip_customers_list = []

for customerid in vip_customer_ids["CustomerID"]:
    my_customer = grouped_orders.loc[grouped_orders["CustomerID"] == customerid]
    vip_customers_list.append(my_customer)
    
vip_customers = pd.concat(vip_customers_list)

sorted_vip_customers = vip_customers.sort_values("amount_spent", ascending = False)

# THESE ARE THE VIP CUSTOMERS

sorted_vip_customers.head(30)

,CustomerID,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
1690,14646,544561120,1163267611,4182810,14191,6552,24488,197491,5176.09,280206.02
4202,18102,138022684,243297801,866723,3746,1261,5587,64124,1940.92,259657.30
3729,17450,92683919,188845149,677704,2292,842,4140,69993,1143.32,194550.79
3009,16446,929130,1688629,6033,22,11,27,80997,4.98,168472.50
1880,14911,1737367680,3196374868,11416155,46220,18930,68148,80515,26185.72,143825.06
55,12415,164201777,398543981,1439876,4254,2169,8061,77670,2097.08,124914.53
1334,14156,336350387,780541003,2815397,8630,4284,17201,57885,5357.68,117379.63
3772,17511,248601574,538173446,1936505,7215,2701,11320,64549,2221.28,91062.38
2703,16029,54851121,134645942,486630,1777,748,2789,40208,8722.39,81024.84
0,12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
3177,16684,73386112,154941215,557024,2086,1057,3201,50255,679.10,66653.56
1290,14096,2234732776,2933997631,10278221,53171,8284,73542,16352,33332.45,65164.79
997,13694,127836199,315841536,1142202,3695,1911,7010,63312,891.19,65039.62
2177,15311,541070084,1323212209,4783992,15459,7659,30570,38194,5961.86,60767.90
562,13089,416878362,1011549246,3655912,11385,5511,22583,31070,4977.35,58825.83
4094,17949,19632895,39281978,140769,503,255,839,30546,237.40,58510.48
2518,15769,33351490,72647025,261429,852,393,1520,29672,266.60,56252.72
1984,15061,75092281,222666165,810309,3270,1299,4925,28920,1037.22,54534.14
1435,14298,368634251,910484910,3291862,10965,5233,20125,58343,2452.19,51527.30
1285,14088,190734679,332424995,1184479,4574,2318,8538,12665,3375.38,50491.81
2503,15749,1066393,5456386,20110,25,15,125,18028,30.44,44534.30
453,12931,24812690,46170469,164900,668,290,1191,28004,139.54,42055.96
4011,17841,2405300520,4418581314,15780030,62607,26704,103831,23071,19848.49,40991.57
2012,15098,668032,1669332,6033,18,15,45,121,1303.95,39916.50
1070,13798,77745979,193949382,701800,2362,1259,4464,23948,738.67,37153.85
2689,16013,45281370,78480611,279522,1191,434,1603,15536,389.71,37130.60
2991,16422,81760874,205087145,742037,2314,1002,4354,33704,669.34,34684.40
326,12748,1475723286,2592336731,9241888,42873,18154,61952,25748,12205.60,33719.73
2571,15838,46785441,93671444,335834,1231,505,1842,18368,324.31,33643.08
3694,17404,45360002,110177583,398152,1425,645,2300,32748,434.40,31906.82

In [9]:
preferred_percentile = grouped_orders["amount_spent"].quantile(0.75)
print(preferred_percentile)

preferred_customer_ids = grouped_orders[(grouped_orders["amount_spent"] > float(preferred_percentile)) & 
                                        (grouped_orders["amount_spent"] <= float(vip_percentile))]

preferred_customers_list = []

for customerid in preferred_customer_ids["CustomerID"]:
    my_customer = grouped_orders.loc[grouped_orders["CustomerID"] == customerid]
    preferred_customers_list.append(my_customer)
    
preferred_customers = pd.concat(preferred_customers_list)

sorted_preferred_customers = preferred_customers.sort_values("amount_spent", ascending = False)

# THESE ARE THE PREFERRED CUSTOMERS

sorted_preferred_customers.head(30)

1661.64

,CustomerID,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
537,13050,88073344,223872574,810364,2992,1278,4940,3748,1204.52,5836.86
304,12720,90950303,197785584,711849,2760,1106,4153,4672,956.36,5781.73
2105,15218,41221248,92641005,333826,1009,302,1823,3329,513.44,5756.89
3904,17686,72758466,159766169,575146,1824,905,3433,2478,1103.64,5739.46
631,13178,59276272,147365548,532883,1858,872,3321,3570,542.34,5725.47
3084,16553,10948254,46009406,168907,463,270,1098,4600,179.86,5719.82
836,13468,60617105,167242110,607269,2119,1021,3744,2589,1239.18,5704.97
1301,14110,40826438,87272614,313716,1064,519,1731,2457,366.02,5683.15
1256,14049,146916305,274322831,981368,3318,1132,5580,3870,1254.48,5681.72
3448,17049,104082504,179636687,639498,2610,901,3680,2676,1248.82,5659.98
3928,17716,61599309,136854813,492695,1615,674,3175,3072,619.86,5655.99
504,13004,99121795,225341111,812421,2697,1374,4645,4822,812.51,5655.91
4214,18118,282619607,710550897,2571918,8671,4815,14692,2882,3234.33,5653.82
1719,14688,74266282,181826852,657578,2062,808,3687,3621,696.85,5630.87
3956,17757,204909334,415215512,1490071,5890,2427,10877,3320,2036.83,5605.29
110,12481,45929784,120410552,436365,1408,607,2184,3304,741.05,5596.32
389,12839,98123016,176935454,631417,2783,1030,3967,3807,602.95,5591.42
3243,16767,53373026,123755165,446442,1330,794,2634,4435,357.93,5580.60
2800,16161,117567796,264428761,953152,3557,1422,6706,2599,1508.29,5575.56
154,12539,37686629,149603034,549003,791,725,3123,2067,1140.19,5568.35
2544,15805,80047051,168457490,605300,2082,976,3659,3387,825.46,5528.48
4294,18225,81151225,152401796,544979,2000,1027,3702,3244,692.45,5509.12
3122,16609,81262687,155143994,555036,2031,874,3053,2420,983.78,5493.46
3403,16985,29435144,66901586,241302,900,391,1313,1832,504.96,5464.12
2878,16265,55476113,143173319,518800,1750,934,3158,2646,965.92,5447.00
4273,18198,36707816,88481806,319749,896,545,1994,4074,381.01,5425.56
115,12490,75139749,137955135,492695,1852,896,2972,3064,659.75,5417.93
3992,17809,16142832,34128938,122656,584,237,808,2057,177.25,5411.91
3189,16701,36314627,80420706,289573,1044,427,1652,6393,314.28,5398.30
3930,17719,69918251,153156407,551014,1807,731,3496,2466,1226.47,5396.04

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [32]:
# Q2

non_grouped_vips_list = []

for customerid in vip_customers["CustomerID"]:
    vip_customer = orders.loc[orders["CustomerID"] == customerid]
    non_grouped_vips_list.append(vip_customer)
    
non_grouped_vips = pd.concat(non_grouped_vips_list)

country_vips = non_grouped_vips.groupby("Country").nunique()

# These are the countries with most VIP customers. First one is UK

country_vips.sort_values("CustomerID", ascending = False)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,amount_spent
Country,,,,,,,,,,,,,
United Kingdom,84185,4165,3155,2,12,6,14,3301,271,4054,364,177,2283
Germany,3127,127,991,2,12,6,10,1004,38,127,78,10,317
France,3290,128,879,2,12,6,11,895,47,129,78,9,306
Switzerland,594,9,433,1,6,5,7,434,31,9,59,3,182
Spain,511,22,291,2,11,6,9,296,31,22,42,2,119
Portugal,681,20,378,2,9,6,8,380,24,20,43,2,150
Australia,898,34,496,2,12,6,8,503,52,33,72,2,288
EIRE,7077,256,1929,2,12,6,13,1972,61,255,111,2,534
Japan,205,9,136,2,8,4,6,137,28,9,36,2,102
Finland,294,9,258,1,5,5,6,259,18,9,41,1,88
Belgium,54,2,51,1,2,2,2,51,11,2,20,1,31
Netherlands,2080,74,701,2,12,6,10,719,60,74,75,1,371
Norway,420,7,219,2,4,3,5,222,27,7,47,1,111
Denmark,36,2,31,1,2,2,2,31,13,2,14,1,20
Singapore,222,7,178,1,4,4,4,179,23,7,51,1,97
Cyprus,248,4,214,1,4,4,2,213,13,4,45,1,78
Sweden,198,15,111,2,9,6,9,111,33,15,32,1,80
Channel Islands,364,8,210,1,5,4,5,213,17,8,36,1,73

In [35]:
# Q3

non_grouped_preferred_list = []

for customerid in preferred_customers["CustomerID"]:
    preferred_customer = orders.loc[orders["CustomerID"] == customerid]
    non_grouped_preferred_list.append(preferred_customer)
    
non_grouped_preferred = pd.concat(non_grouped_preferred_list)

non_grouped_vips_preferred = pd.concat([non_grouped_vips, non_grouped_preferred])

non_grouped_vips_preferred.head()

country_vips_preferred = non_grouped_vips_preferred.groupby("Country").nunique()

# These are the countries with most VIP and Preferred customers. First one is UK

country_vips_preferred.sort_values("CustomerID", ascending = False)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,amount_spent
Country,,,,,,,,,,,,,
United Kingdom,221635,9952,3491,2,12,6,15,3669,285,9536,391,932,2521
Germany,7349,350,1518,2,12,6,10,1546,44,346,98,39,451
France,6301,264,1262,2,12,6,12,1281,51,265,93,29,387
Belgium,1557,67,688,2,12,6,11,694,30,67,64,12,161
Switzerland,1370,30,779,2,11,6,11,785,34,30,66,9,231
Spain,1569,47,805,2,12,6,10,813,32,47,67,9,261
Portugal,1093,38,566,2,12,6,9,572,28,38,59,7,205
Norway,1028,33,573,2,9,6,9,577,31,33,76,7,206
Italy,507,27,310,1,12,6,8,312,21,27,54,5,105
Finland,504,31,365,2,10,6,12,369,27,31,50,5,134
Japan,272,14,181,2,8,6,7,182,31,15,41,4,121
Australia,1028,42,545,2,12,6,8,552,53,40,75,4,310
Cyprus,451,11,384,2,7,5,5,383,25,11,51,4,142
Channel Islands,589,14,344,1,7,6,6,349,20,14,46,4,106
Austria,158,5,132,2,5,3,4,132,10,5,32,3,52
EIRE,7238,260,1943,2,12,6,13,1988,61,259,112,3,538
Denmark,217,7,171,2,5,3,6,170,23,7,36,3,87
Sweden,273,23,152,2,11,6,10,152,38,23,39,2,109
Israel,214,3,197,1,3,2,2,196,22,3,49,2,90
Iceland,182,7,103,2,6,4,6,103,15,7,32,1,55
Greece,32,1,32,1,1,1,1,32,11,1,17,1,20
Lebanon,45,1,45,1,1,1,1,45,9,1,23,1,33
Malta,67,4,54,1,3,3,2,54,13,4,21,1,34
Netherlands,2080,74,701,2,12,6,10,719,60,74,75,1,371
Poland,149,8,88,2,8,4,5,89,15,8,31,1,63
Singapore,222,7,178,1,4,4,4,179,23,7,51,1,97
Canada,135,3,132,1,2,2,3,131,17,3,29,1,49